# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtualenv
.venv/
venv/

# Django
staticfiles/
media/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
logs/
*.log

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# NSSM (solo referencia, no subir binario)
nssm-*/
